name: Publish to npm

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9.12.1 # 或者使用 'latest'，建议固定一个主版本

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'
          cache: 'pnpm' # 开启缓存，加快后续构建速度

      - name: Install dependencies
        # 使用 pnpm --frozen-lockfile 代替 npm ci
        run: pnpm install --frozen-lockfile

      - name: Build project (if needed)
        run: pnpm run build --if-present

      - name: Publish to npm
        run: pnpm publish --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
